.clock:before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  opacity: 1;
  border: 18px solid #f8f8f8;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 200px;
  height: 200px;
}

.clock .min,
.mn {
  width: 210px;
  height: 210px;
}

.clock .sec,
.sc {
  width: 260px;
  height: 260px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  /*transition: transform 500ms ease;*/
}

.hr:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 54px;
  background: #ff105e;
  z-index: 10;
  border-radius: 5px;
}

.mn:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 58px;
  background: #333;
  z-index: 11;
  border-radius: 3px;
}

.sc:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 20px;
  background: #ff105e;
  z-index: 12;
  border-radius: 4px;
}

.digital {
  color: #333;
  transform: translateY(0%);
  font-size: 34px;
  font-weight: bold;
  z-index: 10000;
  font-family: math;
  /*  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace; */
}

.digital .dig-hr:before,
.digital .dig-mn:before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;

  z-index: -1;
}

.digital .dig-hr:after {
  content: ":";
}
