.navbar-toggler:focus {
  color: #ccc;
  box-shadow: 0 0 0 0.1rem;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}
.nav-link,
.nav-link.active,
.nav-tabs {
  border: none !important;
  background: #fff !important;
}

.dropdown-item:hover {
  color: #415fff !important;
  background: #f7f7f7 !important;
}
.navbar-nav .nav-link:hover {
  border: none !important;
  color: #415fff !important;
}
/* .nav-link{
color:red!important;
} */
.nav-link.active {
  color: black !important;
  font-weight: bold !important;
  font-size: 17px !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* SetWindow.js*/
input.in:focus-visible {
  outline-color: #415fff;
}
input.in {
  border-color: #aaa !important;
  padding: 6px;
  border: 1px solid;
}

@media screen and (max-width: 992px) {
  #basic-nav-dropdown {
    padding: 4px !important;
  }
  .HomeRightBox {
    display: none !important;
    position: absolute !important;
  }
  #HomePageScreen {
    display: block !important;
  }
}

div.AlertPageMask .ant-carousel .slick-dots li,
div.AlertPageMask .ant-carousel .slick-dots li button,
div.AlertPageMask .ant-carousel .slick-dots li.slick-active {
  width: 6px !important;
  height: 6px !important;
  margin: 0px !important;
  border-radius: 3px !important;
  margin-left: 12px !important;
  margin-right: 3px !important;
}
.ant-carousel .slick-dots {
  top: 688px;
}
